.catalog {
  margin-bottom: 65px;
}

.catalog__filter {
  display: flex;
  flex-direction: column;
  height: max-content;

  .catalog__price-filter {
    padding-left: 25px;
    padding-right: 25px;
  }

  input {
    border-radius: 0;
    appearance: none;
  }
}

.catalog__filter-fildset {
  position: relative;
  margin: 0;
  margin-bottom: -1px;
  padding: 20px 35px 16px;
  padding-top: 50px;
  border: 1px solid $catalog--filter-border;

  legend {
    position: absolute;
    top: 15px;
    left: 0;
    width: 100%;
  }

  ul {
    margin: 17px 0 10px;
    padding: 0;
    list-style: none;
  }

  li:not(:last-of-type) {
    margin-bottom: 10px;
  }

  label {
    position: relative;
    padding-left: 25px;
    font-size: 14px;
    line-height: 1.3;
    color: $page--txt;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      top: 2px;
      left: 0;
      width: 15px;
      height: 15px;
      border: 1px solid $catalog--filter-input;
    }
  }

  &--closed {
    ul,
    .catalog__range-filter {
      display: none;
    }

    & button::before,
    & button::after {
      top: 11px;
      transform-origin: (center bottom);
    }
  }

  &--opened {
    ul,
    .catalog__range-filter {
      display: block;
    }

    & button::before,
    & button::after {
      transform-origin: (center top);
    }
  }

  &--hide-icon {
    & button::before,
    & button::after {
      display: none;
    }
  }

  input:checked + label {
    &::before {
      background-color: $catalog--filter-input;
    }
  }

  input:hover + label,
  input:focus + label {
    color: $catalog--filter-input-hover;

    &::before {
      border-color: $catalog--filter-input-hover;
    }
  }

  input:checked:hover + label,
  input:checked:focus + label {
    &::before {
      background-color: $catalog--filter-input-hover;
    }
  }

  input:disabled + label {
    opacity: 0.6;
  }

  input:disabled:hover + label {
    color: $page--txt;

    &::before {
      border-color: $catalog--filter-input;
    }
  }

  input:disabled:checked:hover + label {
    &::before {
      background-color: $catalog--filter-input;
      border-color: $catalog--filter-input;
    }
  }
}

.catalog__filter-group-btn {
  position: relative;
  width: 100%;
  padding: 10px 25px;
  font: inherit;
  text-align-last: left;
  color: inherit;
  background-color: transparent;
  border: none;
  outline: none;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 14px;
    right: 29px;
    width: 1px;
    height: 11px;
    background-color: $faq--question-link;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover,
  &:focus {
    color: $catalog--filter-input;
  }

  &:active {
    opacity: 0.6;
  }
}

.catalog__range-filter {
  margin-top: 15px;
}

.catalog__range-controls {
  margin-bottom: 25px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.catalog__range-scale {
  padding-left: 7px;
  padding-right: 7px;
  background-color: $catalog--filter-range-scale;
}

.catalog__range-bar {
  position: relative;
  width: 100%;
  height: 1px;
  background-color: $catalog--filter-range-bar;
}

.catalog__range-toggle {
  content: "";
  position: absolute;
  top: -7px;
  width: 15px;
  height: 15px;
  padding: 0;
  font: inherit;
  color: inherit;
  background-color: $catalog--filter-range-toggle;
  border-radius: 50%;
  border: none;
  outline: none;

  &--min {
    left: -7px;
  }

  &--max {
    right: -7px;
  }

  &:hover,
  &:focus {
    background-color: $catalog--filter-range-toggle-hover;
  }

  &:active {
    opacity: 0.6;
  }

  div {
    position: absolute;
    left: 50%;
    bottom: -20px;
    transform: translateX(-50%);
    width: max-content;
    font-size: 14px;
  }
}

.catalog__filter-controls {
  margin-top: 10px;

  button {
    margin-top: 25px;
  }
}

.catalog__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 270px);
  gap: 37px 30px;
  margin: 0;
  padding: 0;
  padding-bottom: 35px;
  list-style: none;
}

.catalog__pagination {
  padding-top: 30px;
  border-top: 1px solid $catalog--border;

  ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.catalog__pagination-wrapper {
  display: flex;
  justify-content: space-between;
  margin-left: -10px;
  margin-right: -10px;

  div {
    width: 120px;
  }
}

.catalog__pagination-preview,
.catalog__pagination-next {
  display: block;
  width: max-content;
  padding: 9px 10px;
  color: $page--txt;
  outline: none;

  &:hover,
  &:focus {
    color: $catalog--pagination-link-hover;
  }

  &:active {
    opacity: 0.6;
  }
}

.catalog__pagination-preview {
  margin-right: auto;
}

.catalog__pagination-next {
  margin-left: auto;
}

.catalog__pagination-page {
  display: block;
  padding: 9px 7px;
  color: $catalog--pagination-link;
  outline: none;

  &[href]:hover,
  &:focus {
    color: $catalog--pagination-link-hover;
  }

  &:active {
    opacity: 0.6;
  }

  &--current {
    color: $page--txt;
  }
}

@media (min-width: $desktop-width-only) {
  .catalog__container {
    display: grid;
    grid-template-columns: 250px 1fr;
    gap: 50px;
  }

  .catalog__filter-open-btn,
  .catalog__filter-close-btn {
    display: none;
  }

  .catalog__pagination-wrapper {
    margin-left: 290px;
  }
}

@media (max-width: $tablet-width) {
  .catalog__filter-open-btn {
    margin-bottom: 50px;
  }

  .catalog__filter-overlay {
    position: relative;
    z-index: 1;

    &--closed {
      display: none;
    }

    &--opened {
      position: fixed;
      display: block;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: $page--bg;
    }
  }

  .catalog__filter {
    width: 440px;
    max-height: calc(100vh - 54px);
    margin-top: 27px;
    margin-bottom: 27px;
    margin-left: -19px;
    box-shadow: 0 5px 32px $catalog--filter-shadow;
    overflow-y: auto;

    .catalog__price-filter {
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  .catalog__filter-fildset {
    padding: 40px;
    padding-top: 55px;
    border: none;
    border-bottom: 1px solid $catalog--filter-border;

    legend {
      top: 30px;
    }

    ul {
      margin-top: 40px;
    }

    li:not(:last-of-type) {
      margin-bottom: 10px;
    }

    label {
      position: relative;
      padding-left: 40px;
      font-size: 16px;
      color: $page--txt;

      &::before {
        content: "";
        position: absolute;
        top: 1px;
        left: 10px;
        width: 18px;
        height: 18px;
      }
    }

    .catalog__filter-group-btn {
      padding: 10px 40px;
      font-size: 18px;

      &::before,
      &::after {
        top: 10px;
        right: 52px;
        width: 1px;
        height: 17px;
        background-color: $faq--question-link;
      }
    }
  }

  .catalog__range-filter {
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 50px;
  }

  .catalog__filter-close-btn {
    position: absolute;
    top: 11px;
    left: 405px;
    width: 32px;
    height: 32px;
    background-color: $catalog--filter-close-btn-bg;
    border: 2px solid $catalog--filter-close-btn-bg;
    border-radius: 50%;
    outline: none;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 2px;
      height: 18px;
      background-color: $catalog--filter-close-btn-bg-alt;
    }

    &:hover,
    &:focus {
      background-color: $catalog--filter-close-btn-bg-alt;

      &::before,
      &::after {
        background-color: $catalog--filter-close-btn-bg;
      }
    }

    &:active {
      opacity: 0.6;
    }

    &::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  .catalog__filter-controls {
    margin: 40px;
    margin-top: 15px;
  }

  .catalog__list {
    grid-template-columns: repeat(auto-fill, 206px);
    justify-content: center;
  }
}

@media (max-width: $mobile-width) {
  .catalog {
    margin-bottom: 60px;
    border-bottom: none;
  }

  .catalog__filter-open-btn {
    margin-bottom: 40px;
  }

  .catalog__filter {
    width: auto;
    max-height: calc(100vh - 135px);
    margin: 75px 25px 60px;

    .catalog__price-filter {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  .catalog__filter-fildset {
    padding: 40px;
    padding-top: 55px;
    border: none;
    border-bottom: 1px solid $catalog--filter-border;

    legend {
      top: 20px;
    }

    ul {
      margin-top: 25px;
    }

    li:not(:last-of-type) {
      margin-bottom: 20px;
    }

    label {
      position: relative;
      padding-left: 20px;

      &::before {
        content: "";
        position: absolute;
        top: 1px;
        left: -10px;
        width: 18px;
        height: 18px;
      }
    }

    .catalog__filter-group-btn {
      padding: 10px 20px;
      font-size: 18px;

      &::before,
      &::after {
        right: 31px;
        width: 1px;
        height: 14px;
      }
    }
  }

  .catalog__range-filter {
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .catalog__filter-close-btn {
    top: 59px;
    left: auto;
    right: 15px;
  }

  .catalog__filter-controls {
    margin: 10px 20px 30px;

    button {
      margin-top: 20px;
    }
  }

  .catalog__list {
    grid-template-columns: repeat(auto-fill, 130px);
    gap: 28px 30px;
  }

  .catalog__pagination {
    padding-top: 0;
    border: none;
  }

  .catalog__pagination-wrapper {
    div {
      width: auto;
    }
  }

  .catalog__pagination-preview,
  .catalog__pagination-next {
    display: none;
  }

  .catalog__pagination-page {
    padding: 9px 12px;
  }
}
