.footer {
  padding: 100px 0 50px;
  color: $footer--txt;
  background-color: $footer--bg;
}

.footer__container {
  display: flex;
  flex-wrap: wrap;

  section {
    margin-bottom: 50px;
    width: 585px;
  }
}

@media (max-width: $tablet-width) {
  .footer {
    padding: 0;
    padding-top: 60px;
  }

  .footer__container {
    section {
      width: 570px;
    }
  }
}

@media (max-width: $mobile-width) {
  .footer {
    color: $footer--txt;
    background-color: $footer--bg;
  }

  .footer__container {
    section {
      margin-bottom: 50px;
      width: 100%;
    }
  }
}
