.footer-menu {
  display: flex;
  justify-content: space-between;
}

.footer-menu__navigation {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 420px;
}

.footer-menu__list {
  margin: -15px 0;
  padding: 0;
  padding-left: 8px;
  list-style: none;
  width: 180px;

  .footer-menu__link {
    display: block;
    padding: 11px 0;
    color: $footer-menu--link;
    outline: none;

    &:hover,
    &:focus {
      color: $footer-menu--link-hover;
    }

    &:active {
      opacity: 0.6;
    }
  }
}

.footer-menu__social-list {
  justify-content: space-between;
  margin: -12px 0;
  padding: 0;
  list-style: none;
  max-width: 130px;
}

.footer-menu__social-link {
  display: block;
  padding: 11px 0;
  color: $footer-menu--link;
  outline: none;

  svg {
    width: 15px;
    height: 15px;
    margin-right: 10px;
    fill: $footer-menu--link;
  }

  &:hover,
  &:focus {
    color: $footer-menu--link-hover;

    svg {
      fill: $footer-menu--link-hover;
    }
  }

  &:active {
    opacity: 0.6;
  }
}

@media (max-width: $tablet-width) {
  .footer-menu__list {
    padding-left: 0;
  }

  .footer-menu__navigation {
    width: 435px;
  }
}

@media (max-width: $mobile-width) {
  .footer-menu {
    flex-direction: column;
  }

  .footer-menu__navigation {
    flex-direction: column;
    width: 100%;
  }

  .footer-menu__list {
    margin-bottom: 35px;
  }

  .footer-menu__social-list {
    display: flex;
  }

  .footer-menu__social-link {
    svg {
      width: 20px;
      height: 21px;
      margin-right: 30px;
    }

    .footer-menu__fb-icon {
      width: 12px;
    }

    span {
      display: none;
    }
  }
}
