.header__top {
  padding: 30px 0 18px;
  border-bottom: 1px solid $header--border;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.header__search {
  display: flex;
  position: relative;
  align-items: center;
  margin-right: 100px;
  font-size: 0;

  svg {
    display: block;
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 14px;
    height: 14px;
    fill: $header--form-icon;
  }

  input {
    width: 300px;
    padding: 8px;
    padding-left: 30px;
    padding-right: 0;
    font: inherit;
    font-size: 14px;
    line-height: 2;
    border: none;
    outline: none;

    &:hover,
    &:focus {
      margin-bottom: -2px;
      border-bottom: 2px solid $header--form-border-hover;
    }
  }

  &:hover,
  &:focus-within {
    svg {
      fill: $header--form-icon-hover;
    }
  }

  &:active {
    opacity: 0.6;
  }
}

.header__logo {
  justify-self: center;
}

.header__user-interface {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  width: 430px;
  margin: 0 -15px;

  a {
    display: block;
    margin-left: 5px;
    padding: 13px 15px;
    font-size: 14px;
    line-height: 1.5;
    color: $header--user-interface-link;
    outline: none;

    &:hover,
    &:focus {
      color: $header--user-interface-link-hover;
    }

    &:active {
      opacity: 0.6;
    }

    output {
      margin-left: 2px;
    }
  }
}

.header__menu-toggle,
.header__login-btn {
  display: none;
}

@media (max-width: $tablet-width) {
  .header {
    z-index: 1;

    &--menu-closed {
      position: static;
    }

    &--menu-opened {
      position: fixed;
      width: 100%;
      height: 100vh;
      background-color: $navigation--menu-opened-bg;
    }
  }

  .header__search,
  .header__user-interface {
    display: none;
  }

  .header__top {
    padding-bottom: 30px;
    position: relative;
    border-bottom: none;

    .container {
      justify-content: center;
    }
  }

  .header__menu-toggle {
    display: block;
    position: absolute;
    top: 50%;
    left: 35px;
    transform: translateY(-50%);
    width: 45px;
    height: 40px;
    padding: 0;
    background-color: transparent;
    border: none;
    outline: none;

    &--closed::before,
    &--opened::before,
    &--opened::after {
      content: "";
      position: absolute;
      top: 19px;
      left: 10px;
      width: 25px;
      height: 2px;
    }

    &--closed::before {
      background-color: $header--menu-closed;
      box-shadow:
        0 -8px $header--menu-closed,
        0 8px $header--menu-closed;
    }

    &--opened::before,
    &--opened::after {
      background-color: $header--menu-opened;
    }

    &--opened::before {
      transform: rotate(45deg);
    }

    &--opened::after {
      transform: rotate(-45deg);
    }

    &--closed:hover::before,
    &--closed:focus::before {
      background-color: $header--menu-closed-hover;
      box-shadow:
        0 -8px $header--menu-closed-hover,
        0 8px $header--menu-closed-hover;
    }

    &--opened:hover::before,
    &--opened:hover::after,
    &--opened:focus::before,
    &--opened:focus::after {
      background-color: $header--menu-opened-hover;
    }

    &--closed:active::before,
    &--opened:active::before,
    &--opened:active::after {
      opacity: 0.6;
    }
  }

  .header__login-btn {
    display: block;
    position: absolute;
    top: 50%;
    right: 45px;
    transform: translateY(-50%);
    outline: none;

    svg {
      display: block;
      width: 20px;
      height: 18px;
      stroke: $header--menu-closed;
      stroke-width: 2px;
    }

    &:hover svg,
    &:focus svg {
      stroke: $header--menu-closed-hover;
    }

    &:active svg {
      opacity: 0.6;
    }

    .header--menu-opened & {
      svg {
        stroke: $header--menu-opened;
      }

      &:hover svg,
      &:focus svg {
        stroke: $header--menu-opened-hover;
      }
    }
  }
}

@media (max-width: $mobile-width) {
  .header__top {
    padding: 20px 0;
  }
  .header__menu-toggle {
    left: 5px;
  }

  .header__login-btn {
    right: 15px;
  }
}
