.login {
  position: relative;
  width: 430px;
  margin: auto;
  padding: 45px;
  padding-top: 160px;
  background: $login--bg url("../img/login-bg-desktop@x1.jpg") center top /430px 138px no-repeat;

  h2 {
    margin-bottom: 23px;
    font-family: $cormorant-garamond;
    font-weight: bold;
    font-size: 34px;
    text-align: center;
  }

  a {
    display: block;
    padding: 5px 0;
    font-size: 14px;
    line-height: 21px;
    color: $login--link;

    &:hover,
    &:focus {
      color: $login--link-hover;
    }

    &:active {
      opacity: 0.6;
    }
  }
}

.login__form {
  input {
    display: block;
    width: 100%;
    margin-bottom: 25px;
    padding: 9px 0;
    font: inherit;
    font-size: 14px;
    line-height: 1.5;
    color: inherit;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $login--form-border;
    outline: none;

    &:last-of-type {
      margin-bottom: 0;
    }

    &:hover,
    &:focus {
      border-color: $login--form-border-hover;
    }

    &:active {
      opacity: 0.6;
    }
  }

  a {
    width: max-content;
    font-size: 12px;
    margin-left: auto;
    margin-bottom: 35px;
  }

  button {
    margin-bottom: 5px;
  }
}

.login__links {
  display: flex;
  justify-content: center;

  a {
    padding: 10px 5px;
  }

  .login__sign-up {
    color: $page--txt;
  }
}

@media (min-resolution: 2dppx) {
  .login {
    background-image: url("../img/login-bg-desktop@x2.jpg");
  }
}

@media (max-width: $tablet-width) {
  .login {
    width: 442px;
    padding-left: 51px;
    padding-right: 51px;
    background-image: url("../img/login-bg-tablet@x1.jpg");
    background-size: 432px 148px;
  }
}

@media (max-width: $tablet-width) and (min-resolution: 2dppx) {
  .login {
    background-image: url("../img/login-bg-tablet@x2.jpg");
  }
}

@media (max-width: $mobile-width) {
  .login {
    width: 270px;
    padding: 105px 15px 30px;
    background-image: url("../img/login-bg-mobile@x1.jpg");
    background-size: 270px 84px;

    h2 {
      margin-bottom: 13px;
      font-size: 24px;
    }
  }

  .login__form {
    input {
      margin-bottom: 20px;
    }

    a {
      margin-bottom: 25px;
    }
  }

  .login__links {
    margin: 0 -5px;
  }
}

@media (max-width: $mobile-width) and (min-resolution: 2dppx) {
  .login {
    background-image: url("../img/login-bg-mobile@x2.jpg");
  }
}
