.logo {
  display: block;
  outline: none;

  svg {
    display: block;
    width: 66px;
    height: 66px;
    fill: $site;
  }

  &[href]:hover,
  &[href]:focus {
    svg {
      fill: $site-bright;
    }
  }

  &[href]:active {
    opacity: 0.6;
  }
}

@media (max-width: $mobile-width) {
  .logo {
    svg {
      width: 52px;
      height: 52px;
    }
  }
}
