.product-card {
  display: flex;
  flex-direction: column;
  width: 270px;
  color: $product-card-txt;
  outline: none;

  img {
    display: block;
    width: 270px;
    height: 284px;
    background-color: $product-card-img-bg;
    object-fit: cover;
    transition: transform 0.6s ease;
  }

  h3 {
    margin: auto 0 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.3;
    text-align: center;
  }

  p {
    margin: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.3;
    text-align: center;
  }

  &:hover,
  &:focus {
    color: $product-card-txt-hover;

    img {
      transform: scale(1.1);
    }
  }

  &:active {
    opacity: 0.6;
  }
}

.product-card__wrapper {
  overflow: hidden;
  width: 270px;
  height: 284px;
  margin-bottom: 22px;
}

@media (max-width: $tablet-width) {
  .product-card {
    width: 324px;

    img {
      width: 324px;
      height: 340px;
    }
  }

  .product-card__wrapper {
    width: 324px;
    height: 340px;
  }
}

@media (max-width: $mobile-width) {
  .product-card {
    width: 130px;

    img {
      width: 130px;
      height: 136px;
    }

    h3 {
      margin-bottom: 6px;
    }
  }

  .product-card__wrapper {
    width: 130px;
    height: 136px;
    margin-bottom: 16px;
  }
}
