.product {
  border-top: 1px solid $product--border;
  padding-top: 80px;
  padding-bottom: 120px;
}

.product__container {
  display: grid;
  align-items: start;
  grid-template-columns: minmax(500px, 600px) minmax(394px, 570px);
}

.product__photos {
  display: grid;
  grid-template-columns: 100px auto;
  grid-auto-flow: dense;
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style: none;

  img {
    display: block;
  }
}

.product__photo {
  img {
    display: block;
    width: 100px;
    height: 125px;
    background-color: $product--img-bg;
    object-fit: cover;
  }

  &--current {
    grid-column-start: 2;
    grid-row: span 3;

    img {
      width: 100%;
      height: 435px;
    }
  }

  p {
    display: none;
  }
}

.product__info {
  width: 100%;
  max-width: 430px;
  margin: 0 auto;
  padding: 0 30px;

  h1 {
    margin: -10px 0 12px;
    font-family: $cormorant-garamond;
    font-weight: 700;
    font-size: 34px;
    line-height: 1.3;
    text-align: left;
  }

  p {
    margin: 0;
    margin-bottom: 28px;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.3;
  }
}

.product__info-tabs {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px 12px;
  padding: 0;
  list-style: none;

  li:not(:last-of-type) {
    margin-right: 15px;
  }
}

.product__info-tab {
  display: block;
  padding: 10px;
  color: $product--tab-txt;
  outline: none;

  &--current {
    color: $product--tab-txt-current;
  }

  &:hover,
  &:focus {
    color: $product--tab-txt-hover;
  }

  &:active {
    opacity: 0.6;
  }
}

.product__info-slides {
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  list-style: none;
}

.product__info-slide {
  display: none;

  &--current {
    display: block;
  }

  dl {
    margin: 0;
  }

  div {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    font-size: 14px;
    line-height: 1.3;
    border-bottom: 1px solid $product--border;
  }

  dd {
    font-weight: 400;
  }
}

.product__add-to-cart-btn {
  margin-bottom: 18px;
}

.product__services {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
  line-height: 1.3;
  text-align: center;
  color: $product--servises-txt;

  li {
    flex-grow: 2;

    &:first-of-type {
      flex-grow: 1;
      text-align: left;
    }

    &:last-of-type {
      flex-grow: 1;
      text-align: right;
    }

    &:not(:last-of-type) {
      border-right: 1px solid $product--border;
    }
  }
}

@media (max-width: $tablet-width) {
  .product {
    border-top: none;
    padding-top: 30px;
    padding-bottom: 70px;
  }

  .product__container {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }

  .product__photos {
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
  }

  .product__photo {
    img {
      width: 100%;
      height: 129px;
    }

    &--current {
      grid-column: 1 / -1;
      grid-row: span 1;

      img {
        height: 286px;
      }
    }
  }

  .product__info {
    width: 100%;
    max-width: none;
    margin: 0;
    padding: 0;
  }

  .product__services {
    font-size: 12px;
  }
}

@media (max-width: $mobile-width) {
  .product {
    padding-top: 0;
    padding-bottom: 58px;
  }

  .product__container {
    grid-template-columns: 1fr;
  }

  .product__photos {
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
  }

  .product__photo {
    position: relative;

    img {
      display: none;
    }

    &--current {
      grid-column: 1 / -1;
      grid-row: span 1;

      img {
        display: block;
        min-height: 260px;
        height: auto;
      }
    }

    p {
      display: block;
      position: absolute;
      bottom: 5px;
      left: 50%;
      transform: translateX(-50%);
      margin: 0;
      font-size: 14px;
      line-height: 1.3;
    }
  }

  .product__info {
    h1 {
      margin-top: -15px;
    }

    p {
      margin-bottom: 20px;
    }
  }

  .product__info-slides {
    margin-bottom: 40px;
  }

  .product__info-btn {
    margin-bottom: 13px;
  }

  .product__services {
    font-size: 12px;

    span {
      display: inline-block;
      width: min-content;
      margin: 0 10px;
      text-align: center;
    }
  }
}
