.subscribe {
  margin-top: -10px;
  padding-right: 85px;

  .subscribe__lead {
    font-family: $cormorant-garamond;
    font-weight: 700;
    font-size: 34px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    color: $subscribe-txt;
  }

  p {
    margin: 0;
    margin-bottom: 25px;
    font-weight: 400;
    color: $subscribe-txt-alt;
  }

  .subscribe__form {
    position: relative;
    margin-top: 40px;

    input {
      width: 100%;
      padding: 10px 0;
      font: inherit;
      font-size: 14px;
      line-height: 1.5;
      color: $subscribe-txt;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid $subscribe-border;
      outline: none;

      &:hover,
      &:focus {
        border-color: $subscribe-border-hover;
      }
    }

    button {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      padding: 10px 0;
      font: inherit;
      font-size: 16px;
      line-height: 1.3;
      color: $subscribe-txt;
      background-color: transparent;
      border: none;
      outline: none;

      svg {
        margin-left: 7px;
        stroke: $subscribe-txt;
      }

      &:hover,
      &:focus {
        color: $subscribe-txt-hover;

        svg {
          stroke: $subscribe-txt-hover;
        }
      }

      &:active {
        opacity: 0.6;
      }
    }
  }
}
