// Colors

$black: #000000;

$black-almost:#1d1613;
$grey: #9b9997;
$white-almost: #f6f5f4;

$white: #ffffff;

$site: #a87b62;
$site-bright: #564034;

// Fonts

$poppins: "Poppins", "Verdana", sans-serif;
$cormorant-garamond: "Cormorant Garamond", "Times New Roman", serif;

// Viewports

$mobile-width: 767px;
$tablet-width: 1023px;
$desktop-width-only: 1024px;
$desktop-width-max: 1200px;

// Blocks

$page--txt: $black-almost;
$page--bg: $white;


$header--border: $white-almost;
$header--form-icon: $black;
$header--form-icon-hover: $site;
$header--form-txt: $black-almost;
$header--form-border-hover: $site;
$header--user-interface-link: $black-almost;
$header--user-interface-link-hover: $site;
$header--menu-toggle: $black-almost;
$header--menu-toggle-hover: $site;
$header--login-btn: $black-almost;
$header--login-btn-hover: $site;

$navigation--link: $black-almost;
$navigation--link-secondary: rgba($black-almost, 0.75);
$navigation--link-hover: $site;
$navigation--search-txt: $black-almost;
$navigation--search-border: $black-almost;
