// Colors

$black: #000000;

$black-almost:#1d1613;
$grey: #9b9997;
$grey-light: #e6e6e6;
$white-dirty: #f0eae4;
$white-almost: #f6f5f4;

$white: #ffffff;

$site: #a87b62;
$site-bright: #564034;

// Fonts

$poppins: "Poppins", "Verdana", sans-serif;
$cormorant-garamond: "Cormorant Garamond", "Times New Roman", serif;

// Viewports

$mobile-width: 767px;
$tablet-width: 1023px;
$desktop-width-only: 1024px;
$desktop-width-not-max: 1299px;

// Blocks

$page--txt: $black-almost;
$page--bg: $white;


$blog-card--txt: $black;
$blog-card--date-txt: $grey;
$blog-card--bg: $white-dirty;
$blog-card--link-hover: $site;
$blog-card--decor: $site;

$blog-preview--link-hover: $site;
$blog-preview--decor: $site;

$faq--question-border: $site;
$faq--question-link: $site;
$faq--question-link-hover: $site;

$footer--txt: $white;
$footer--bg: $black;
$footer-menu--link: $white;
$footer-menu--link-hover: $site;

$gallery--link-hover: $site;
$gallery--decor: $site;

$header--border: $white-almost;
$header--form-icon: $black;
$header--form-icon-hover: $site;
$header--form-txt: $black-almost;
$header--form-border-hover: $site;
$header--form-border-hover: $white;
$header--user-interface-link: $black-almost;
$header--user-interface-link-hover: $site;
$header--menu-closed: $black-almost;
$header--menu-closed-hover: $site;
$header--menu-opened: $white;
$header--menu-opened-hover: $site-bright;

$navigation--link: $black-almost;
$navigation--link-secondary: rgba($black-almost, 0.75);
$navigation--link-hover: $site;
$navigation--menu-opened-link: $white;
$navigation--menu-opened-link-secondary: rgba($white, 0.75);
$navigation--menu-opened-link-hover: $site-bright;
$navigation--search-hover: $site;
$navigation--search-txt: $black-almost;
$navigation--search-border: $black-almost;
$navigation--search-menu-opened-icon: $white;
$navigation--search-menu-opened-txt: $white;
$navigation--search-menu-opened-bg: rgba($white, 0.15);
$navigation--search-menu-opened-hover: $white;
$navigation--menu-opened-bg: $site;

$product-card-txt: $black-almost;
$product-card-txt-hover: $site;
$product-card-img-bg: $grey-light;

$slider--link-hover: $site;
$slider--decor: $site;
$slider--control-arrow: $site;
$slider--control-arrow-hover: $site-bright;
$slider--pagination-txt: $grey;
$slider--pagination-txt-current: $black-almost;
$slider--pagination-txt-hover: $site;

$slogan--txt: $white;
$slogan--bg: rgba($site-bright, 0.7);
$slogan--img-bg: $site;
$slogan--shadow: rgba($black, 0.25);

$subscribe-txt: $white;
$subscribe-txt-hover: $site;
$subscribe-txt-alt: $grey;
$subscribe-border: $white;
$subscribe-border-hover: $site;
